[submodule "submodules/soomla-android-core"]
	path = submodules/soomla-android-core
	url = git@github.com:soomla/soomla-android-core.git
[submodule "submodules/soomla-ios-core"]
	path = submodules/soomla-ios-core
	url = git@github.com:soomla/soomla-ios-core.git
[submodule "submodules/unity3d-store"]
	path = submodules/unity3d-store
	url = git@github.com:soomla/unity3d-store.git
[submodule "submodules/soomla-unity3d-core"]
	path = submodules/soomla-unity3d-core
	url = git@github.com:soomla/soomla-unity3d-core.git
